.FiltersContainer {
    display: flex;
    flex-direction: column;
}

.FiltersContainer > div:first-of-type {
    display: flex;
    border-bottom: 2px solid grey;
    justify-content: space-between;
    align-items: center;
}

.FiltersContainer > div:first-of-type > h2 {
    line-height: 0;
}

.FiltersContainer > div:first-of-type > button {
    width: max-content;
    height: max-content;
}