.TimerFormsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: max-content;
  padding: 20px;
}

.TimerFormsContainer > div:first-child {
  flex-basis: 100%;
}

.TimerForms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  min-width: 400px;
  flex-wrap: wrap;
}

.TimerForms > div > label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TimerForms > div > label > * {
  margin-left: 2em;
}

.TimerFormsStyle {
  background-color: rgb(46, 79, 100);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 10px;
}

.TimerFormsContainer > div > label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TitleAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TitleAlign > button {
  width: 70px;
  height: 30px;
}

.ButtonAlign {
  display: flex;
  justify-content: space-between;
}

#warning {
  color: red;
}