.TimerFormsContainer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: max-content;
  gap: 15px
}
.TimerFormsContainer > div:first-child {
  flex: 100% 0 0;
  margin-bottom: 5px;
}

.TimerFormsContainer > div:not(:first-child) {
  margin-bottom: 20px;
}

.TimerFormsContainer > div:nth-child(2)  {
  flex: 45% 1 1;
  min-width: 20em;
  width: 25em;
}

.TimerFormsContainer > div:nth-child(3) {
  flex: 45% 1 1;
  min-width: 20em;
  width: 25em;
}


.TimerFormsStyle > label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TimerFormsStyle > label > * {
  margin-left: 2em;
}

.TimerFormsStyle {
  background-color: rgb(46, 79, 100);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 10px;
}

.TimerFormsContainer > div > label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TitleAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TitleAlign > button {
  width: 70px;
  height: 30px;
}

.ButtonAlign {
  display: flex;
  justify-content: space-between;
}

#warning {
  color: red;
}