.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: rgb(46, 79, 100);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.closeButton {
  display: flex;
  height: 2vw;
  width: 3vw;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}