.TechContainer {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 300px;
    height: 70vh;
    max-height: 550px;
    overflow-y: auto;
    margin-bottom: 25px;
}

.TechContainer > h1, .TechContainer > h2 {
    border-bottom: 5px grey dotted;
}

.TechContainer > div:last-of-type {
    margin-bottom: 15px;
}

.TechContainer > button:last-of-type {
    align-self: center;
    width: 100%;
    height: 40px;
}

.TechForm {
    display: flex;
    flex-direction: column;
}

.TechForm > label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}