.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background-color: #2d2d30;
}

h1, h2, p, label {
  color: white;
}

.footercontainer {
  color: white;
  display: flex;
  margin-top: auto;
  bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  padding: 0.2% 1% 0.2% 1%;
  background-color: rgb(46, 79, 100);
}

.footercontainer > div {
  flex-direction: column;
  margin-left: 20px;
  line-height: 25px;
}
.footercontainer footer:last-of-type {
  display: inline-flex;
  margin-right: 20px;  
}


.footercontainer img {
  width: 50px;
}

