.popupGearContainer {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 0px;
    margin-right: 20px;
    font-size: 55px;
}

.popupGearIcon {
    color:grey;
}

.popupGearIcon:hover {
    color: red;
    cursor:pointer;
}

.settingsGroup {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    line-height: 5px;
    width: 40vw;
    min-width: 300px;
    min-height: 30vh;
    max-height: 90vh;
}

.settingsGroup h2 {
    border-bottom: 1px solid gray;
}

.settingsItem > label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settingsItem > button {
    margin-top: 5px;
    display: flex;
    margin-left: auto;
}

.settingsItem > .sData {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sData > h3 {
    flex: 1 1 80%;
    line-height: 0;
}
.sData > button:first-of-type {
    flex: 1 1 20%;
    height: max-content;
    margin-left: auto;
    max-width: 20%;
}

.sData > button {
    min-width: 20%;
}

.sData > * {
    margin-left: auto;
}
.sData > label {
    margin-top: 20px;
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.sData > label:first-of-type {
    border-bottom: 2px dashed grey;
}

.sData:last-child {
    margin-bottom: 20px;
}

.settingsItem {
    line-height: normal;
}

.settingsItem p {
    line-height: 20px;
}

.settingsItem:last-of-type {
    margin-bottom: 2vw;
}